<html>
<head>
	<title>goals</title>	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
</head>
<style>

.header {
	color:#4CAF50;
	padding: 25px 15px;
	border:none;
	font-size:24px;
	margin: 4px 2px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 15px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

</style>
<body>
 </div>
		<div id="home">
				<button onclick="goBack()" class="center-block"> home 
			</button>
  			</div>


		<div id="Excercises Header">
				<div class = header>
					<h1> E X C E R C I S E S </h1>
  			</div>

<div class="tab">
  <button class="tablinks" onclick="openGoals(event, 'Strength')">Strength</button>
  <button class="tablinks" onclick="openGoals(event, 'Endurance')">Endurance</button>
  <button class="tablinks" onclick="openGoals(event, 'Core')">Core</button>
  <button class="tablinks" onclick="openGoals(event, 'Weight')">Weight</button>
</div>

<div id = "Strength" class = "tabcontent">

    {{#each test}}
    <div class = "test">
      <div class = "setWidth">
          <h3><a class="newname">{{name}}</a></h3>
          <p>{{description}}</p>
          <p>{{category}}</p>
          <p>{{target}}</p>
          <p>{{equipment}}</p>
          <p>{{steps}}</p>
      </div>
  </div>
    {{/each}}

</div>

<div id = "Endurance" class = "tabcontent">
	<h3>Endurance</h3>
	<p> test <p>
</div>

<div id = "Core" class = "tabcontent">
	<h3>Core</h3>
	<p> test <p>
</div>

<div id = "Weight" class = "tabcontent">
	<h3>Weight</h3>
	<p> test <p>
</div>
	
<script>
function goBack() {
    window.history.back();
}

function openGoals(evt, goalTime) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(goalTime).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

    <script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
