<html>
<head>
  <title>exercises</title> 
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
</head>
<style>

.header {
  color: white;
  padding: 25px 15px;
  border:none;
  font-size:24px;
  margin: 4px 2px;
  text-align: center;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: white;
    float: left;
    border: none;
    border-color: gray;
    outline: none;
    cursor: pointer;
    padding: 14px 23px 15px 23px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

</style>
<body style = "background-color: lightsalmon">
 </div>
    <div id="home">
        <button onclick="goBack()" class="left-block"> back 
      </button>
        </div>


    <div id="Exercises Header">
        <div class = header>
          <h1> E X E R C I S E S </h1>
        </div>

<div class="tab">
  <button class=active onclick="openGoals(event, 'Strength')">Strength</button>
  <button class="tablinks" onclick="openGoals(event, 'Stretching')">Stretching</button>
  <button class="tablinks" onclick="openGoals(event, 'Core')">Core</button>
  <button class="tablinks" onclick="openGoals(event, 'Cardio')">Cardio</button>
</div>

<div id = "Strength" class = "tabcontent" style=display:block>
    {{#each test}}
      {{#each First}}
    <div class = "test">
      <div class = "setWidth">
       <h3><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#data{{id}}"> {{name}} </button></h3>
          <div id="data{{id}}" class="collapse">
          <p>{{strength}}</p>
          <img src = {{exerciseimage1_1}} img border ="25" width="192">
          <img src = {{exerciseimage2_1}} img border ="25" width="192">
          <p></p>
          <p><b>{{target}}</b></p>
          <p><b>{{equipment}}</b></p>
          <p>{{step1_1}}</p>
          <p>{{step2_1}}</p>
          <p>{{step3_1}}</p>
          <p>{{step4_1}}</p>
          <p>{{step5_1}}</p>
          <p>{{warning}}</p>
          <!--<p>{{testdata}}</p>-->

        </div>
      </div>
  </div>
    {{/each}}
    {{/each}}
</div>


<div id = "Stretching" class = "tabcontent">
    {{#each test}}
      {{#each Forth}}
    <div class = "test">
      <div class = "setWidth">
       <h3><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#data{{id}}"> {{name4}} </button></h3>
          <div id="data{{id}}" class="collapse">
          <p>{{strength4}}</p>
          <img src = {{exerciseimage1_4}} img border ="25" width="192">
          <img src = {{exerciseimage2_4}} img border ="25" width="192">
          <p></p>
          <p><b>{{target4}}</b></p>
          <p><b>{{equipment4}}</b></p>
          <p>{{step1_4}}</p>
          <p>{{step2_4}}</p>
          <p>{{step3_4}}</p>
          <p>{{step4_4}}</p>
          <p>{{step5_4}}</p>
          <p>{{warning4}}</p>
        </div>
      </div>
  </div>
    {{/each}}
    {{/each}}
</div>

<div id = "Core" class = "tabcontent">
    {{#each test}}
      {{#each Third}}
    <div class = "test">
      <div class = "setWidth">
       <h3><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#data{{id}}"> {{name3}} </button></h3>
          <div id="data{{id}}" class="collapse">
          <p>{{strength3}}</p>
          <img src = {{exerciseimage1_3}} img border ="25" width="192">
          <img src = {{exerciseimage2_3}} img border ="25" width="192">
          <p></p>
          <p><b>{{target3}}</b></p>
          <p><b>{{equipment3}}</b></p>
          <p>{{step1_3}}</p>
          <p>{{step2_3}}</p>
          <p>{{step3_3}}</p>
          <p>{{step4_3}}</p>
          <p>{{step5_3}}</p>
          <p>{{warning3}}</p>
        </div>
      </div>
  </div>
    {{/each}}
    {{/each}}
</div>

<div id = "Cardio" class = "tabcontent">
    {{#each test}}
      {{#each Second}}
    <div class = "test">
      <div class = "setWidth">
       <h3><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#data{{id}}"> {{name2}} </button></h3>
          <div id="data{{id}}" class="collapse">
          <p>{{strength2}}</p>
          <img src = {{exerciseimage1_2}} img border ="25" width="192">
          <img src = {{exerciseimage2_2}} img border ="25" width="192">
          <p></p>
          <p><b>{{target2}}</b></p>
          <p><b>{{equipment2}}</b></p>
          <p>{{step1_2}}</p>
          <p>{{step2_2}}</p>
          <p>{{step3_2}}</p>
          <p>{{step4_2}}</p>
          <p>{{step5_2}}</p>
          <p>{{warning2}}</p>
        </div>
      </div>
  </div>
    {{/each}}
    {{/each}}

</div>
  
<script>
function goBack() {
    window.history.back();
}

function openGoals(evt, goalTime) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(goalTime).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

<script>
$(document).ready(function(){
 $.ajaxSetup({ cache: false });
 $('#search').keyup(function(){
  $('#result').html('');
  $('#state').val('');
  var searchField = $('#search').val();
  var expression = new RegExp(searchField, "i");
  $.getJSON('test.json', function(data) {
   $.each(data, function(key, value){
    if (value.First.name.search(expression) != -1)
    {
     $('#result').append('<li class="list-group-item link-class"><'+value.First.name+'>');
    }
   });   
  });
 });
</script>

    <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
